<section id="education" class="education-section" #educationSection>
  <!-- WHAT I HAVE STUDIED SO FAR label -->
  <div class="introduction-section">
    <p>WHAT I HAVE STUDIED SO FAR</p>
  </div>
  
  <!-- Education title -->
  <div class="title-section">
    <h2>Education.</h2>
  </div>
  
  <!-- Education Timeline -->
  <div class="education-timeline-wrapper">
    <div class="vertical-timeline">
      
      <!-- Dynamic Education Items -->
      <div class="vertical-timeline-element" *ngFor="let edu of education; trackBy: trackByEducation">
        <span class="vertical-timeline-element-icon bounce-in" [style.background]="edu.iconBg">
          <div class="education-icon-wrapper">
            <img [src]="edu.icon" [alt]="edu.company_name" class="education-icon" loading="lazy" width="200" height="200">
          </div>
        </span>
        <div class="vertical-timeline-element-content bounce-in">
          <div>
            <h3 class="education-title">{{ edu.title }}</h3>
            <p class="education-institution">{{ edu.company_name }}</p>
          </div>
          <ul class="education-details">
            <li *ngFor="let point of edu.points">
              {{ point }}
            </li>
          </ul>
        </div>
        <span class="vertical-timeline-element-date">{{ edu.date }}</span>
      </div>

    </div>
  </div>
</section>
